node_modules/
*.zip
*.mp4
*.mov
*.avi
uploads/
public/uploads/
storage/
tmp/
.env
.env.*

*.sql
*.txt
backend/.env.example
backend/.env.example
backend/public/*.jpg
backend/public/*.jpeg
backend/public/*.png
backend/public/uploads/
backend/public/company1/tutorials/
